<div class="row">
    {% for room in rooms %}
        <div class="col-lg-4 col-md-6 mb-4">
            {% include 'room/_card.html.twig' %}
        </div>
    {% else %}
        <div class="col-lg-12">
            <p class="text-center text-muted">Il n'y a rien à afficher ici...</p>
        </div>
    {% endfor %}
</div>