<div class="row mb-5">
    <div class="col-lg-9 mx-auto">
        {{ form_start(form, {'attr': {'id': 'regionForm'}}) }}
        <div class="row">
            <div class="col">
                {{ form_label(form.region, 'Select a region', {'label_attr': {'class': 'sr-only'}}) }}
                {{ form_widget(form.region, {'attr': {'class': 'form-control-lg'}}) }}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>