{% extends 'base.html.twig' %}

{% block title %}
New Reservation
{% endblock %}

{% block body %}
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Create new
					Reservation</h2>
			</div>
			<div class="col-lg-12">

				{{ include('front_office/_form.html.twig') }}

				<a class="btn btn-primary" href="{{ path('front_office')}}">back
					to list</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}