{% extends 'base.html.twig' %}

{% block title %}
    Edit Room
{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Edit Room</h2>
                </div>
                <div class="col-lg-12">
                    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

                    <a class="btn btn-primary" href="{{ path('public_room_show', {'id': room.id}) }}">Retour à l'annonce</a>

                    {{ include('front_office/_room_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
