<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenu sur Couette & Café</div>
            <div class="intro-heading text-uppercase">Trouvez le séjour de vos rêves</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#annonces">Voir les annonces</a>
        </div>
    </div>
</header>